@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus-visible,
button:focus-visible {
	border: 3px solid black;
}

/* :root {
	--background-color: oklch(68.78% 0.126 166.89);
	--text-color: oklch(97.28% 0.005 95.1);
	--services-text-color: oklch(37.53% 0.026 255.09);
	--services-background-color: oklch(76.41% 0.127 168.1);
	--line-color: oklch(81.08% 0.103 170.79);
	--line-color-transparent: oklch(81.08% 0.103 170.79 / 0%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: oklch(68.78% 0.126 166.89);
		--text-color: oklch(97.28% 0.005 95.1);
		--services-text-color: oklch(37.53% 0.026 255.09);
		--services-background-color: oklch(76.41% 0.127 168.1);
		--line-color: oklch(81.08% 0.103 170.79);
		--line-color-transparent: oklch(81.08% 0.103 170.79 / 0%);
	}
} */

:root {
	--background-color: #34b38a;
	--text-color: #f7f6f2;
	--services-text-color: #38424f;
	--services-background-color: #4ecca3;
	--line-color: #76d7b8;
	--line-color-transparent: #76d7b800;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #34b38a;
		--text-color: #f7f6f2;
		--services-text-color: #38424f;
		--services-background-color: #4ecca3;
		--line-color: #76d7b8;
		--line-color-transparent: #76d7b800;
	}
}

h2,
h3,
h4,
p {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-size: 5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.1rem;
}

h2,
h3,
h4 {
	font-weight: 700;
}

p {
	font-weight: 300;
}
